

/*********** CSS RESET **********/
body, h1, h2, h3, h4, h5, .buttons input {
    font-family: 'DroidKufi-Regular' !important;
    font-weight: normal !important;
    font-style: normal !important;
    /*font-size:inherit;*/
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	margin: 0;
	-webkit-text-size-adjust: none;
}
ol, ul {
	list-style: none;
}
a img {
	border: none;
}

a:active {
	outline: none;
}
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	margin: 0;
	border: 0;
	padding: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
    border-radius: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
}
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 1000px #fff;
}
script {
    display: none !important;
}


/*********** GLOBAL STYLES **********/

body {
    max-width: 100%;
	overflow-x: hidden;
	background-color: #fff;
	font: normal 12px Arial, Helvetica, sans-serif;
    color: #777;
}
h1,h2,h3,h4,h5,h6 {
	color: #444;
}
a {
	color: inherit;
	cursor: pointer;
}
a img {
	opacity: 0.99; /*firefox scale bug fix*/
}
table {
	width: 100%;
	border-collapse: collapse;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea, select {
    height: 36px; /*safari padding fix*/
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
}
input, textarea, select {
    font-size: 14px;
    font-family: 'DroidKufi-Regular' !important;
    color: #777;
}
textarea {
	/*min-height: 150px;*/
}
select {
	min-width: 50px;
	height: 32px; /*safari padding fix*/
	padding: 6px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus, select:focus {
    border-color: #ccc;
    color: #444;
}
input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + *,
input[type="radio"] + * {
	vertical-align: middle;
}
input[type="button"], input[type="submit"],
button, .button-1, .button-2 {
	cursor: pointer;
}
label, label + * {
    vertical-align: middle;
}
label {
    font-size: 11px
}

.master-wrapper-content {
	position: relative;
	z-index: 0;
	width: 90%;
	margin: 0 auto;
}
.master-column-wrapper {
	position: relative;
	z-index: 0;
}
.master-column-wrapper:after {
	content: "";
	display: block;
	clear: both;
}
.center-1 {
	margin: 0 0 100px;
}
.center-2, .side-2 {
	margin: 0 0 50px;
}
.side-2:after {
	content: "";
	display: block;
	clear: both;
}
.page {
    min-height: 200px;
    text-align: center;
}
.page-title {
	min-height: 50px;
	margin: 0 0 25px;
	border-bottom: 1px solid #ddd;
	padding: 6px 10px;
}
.page-title h1 {
	font-size: 30px;
	font-weight: normal;
}
.page:after,
.page-title:after,
.page-body:after {
	content: "";
	display: block;
	clear: both;
}
.center-1 .page-title,
.center-1 .title {
	text-align: center;
}
.buttons {
	margin: 0 0 30px;
}

/*********** GLOBAL FORMS ***********/



.fieldset, .section {
	position: relative;
	margin: 0 0 40px;
}
.fieldset .title,
.section .title {
	margin: 0 0 15px;
	padding: 0 10px;
	font-size: 20px;
	color: #444;
}
.fieldset .title strong,
.section .title strong {
	font-weight: normal;
}
.form-fields {
	position: relative;
	border-top: 1px solid #e6e6e6;
	background-color: #f9f9f9;
	padding: 30px 15px;
}
.inputs {
	position: relative;
	margin: 0 0 15px;
	text-align: center;
	white-space: nowrap; /*fix for 'required' elements*/
    font-size: 0;
}
.inputs:after {
	content: "";
	display: block;
	clear: both;
}
.inputs label {
	display: block;
	width: 100%;
	margin: 0 0 10px;
	text-align: center;
    font-size: 14px; /*reset zeroing*/
	color: #444;
}
.inputs input[type="text"],
.inputs input[type="email"],
.inputs input[type="tel"],
.inputs input[type="password"],
.inputs select, .inputs textarea {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
}

.inputs.custom-attributes {
	white-space: normal;
}
.inputs .option-list {
    display: inline-block;
	max-width: 95%;
    vertical-align: middle;
}
.inputs .option-list li {
	display: inline-block;
	margin: 5px;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 8px 10px;
}
.inputs .option-list label {
	display: inline-block;
	width: auto !important;
	margin: 0 5px 0 0;
}

.inputs.reversed {
	margin: 0 0 20px;
	text-align: center;
}
.required {
	margin: 0 3px 0 -8px; /*siblings offset*/
	vertical-align: top;
	font-size: 20px;
	font-weight: normal;
	color: #e4434b;
}
.message-error,
.field-validation-error,
.username-not-available-status,
.poll-vote-error, .password-error {
	margin-right: 10px;
	text-align: center;
	font-size: 13px;
	color: #e4434b;
    margin-top: 5px;
}
.field-validation-valid,
.username-available-status {
	display: block;
	text-align: center;
	font-size: 13px;
	color: #4cb17c;
}

.captcha-box {
	text-align: center;
	line-height: 0; /*firefox line-height bug fix*/
}
.captcha-box > div {
	display: inline-block;
	max-width: 100%;
}
.captcha-box input {
	height: auto;
}


/*********** GLOBAL TABLES ***********/



.table-wrapper {
	overflow-x: auto;
}
.cart th,
.data-table th,
.forum-table th {
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: #ddd;
    background-color: #f6f6f6;
    padding: 10px;
    white-space: nowrap;
	font-weight: normal;
}
.forum-table th.replies,
.forum-table th.views,
.forum-table th.votes,
.forum-table th.latest-post,
.forum-table th.topics,
.forum-table th.posts,
.forum-table td.replies,
.forum-table td.views,
.forum-table td.votes,
.forum-table td.latest-post,
.forum-table td.topics,
.forum-table td.posts{
    display: none;
}
.forum-table td.image {
    min-width: 0;
}

.search-box {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

    


    .search-box form {
        display: inline-block;
    }

        .search-box form:after {
            content: "";
            display: block;
            clear: both;
        }

    .search-box input.search-box-text {
        float: right;
        width: 200px;
        height: 36px;
        margin: 0 0 0 -1px;
    }

    .search-box .search-box-button {
        float: right;
        min-width: 86px;
        height: 36px;
        border: none;
        background-color: #4ab2f1;
        padding: 0 15px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }

        .search-box .search-box-button:hover {
            background-color: #248ece;
        }

    .search-box .ui-autocomplete-loading {
        background: #fff url('../images/ajax-loader-small.gif') left center no-repeat;
    }

.ui-helper-hidden-accessible {
    display: none !important;
}

.ui-autocomplete {
    width: 285px !important;
    border: 1px solid #ddd;
    border-top: none;
    overflow: hidden;
    background-color: #fff;
    text-align: right;
    /*override jQuery UI styles, do not delete doubled properties*/
    border-radius: 0;
    padding: 0;
    font: normal 14px Arial, Helvetica, sans-serif;
}

    .ui-autocomplete li {
        border-top: 1px solid #ddd;
    }

        .ui-autocomplete li:first-child {
            border-top: none;
        }

    .ui-autocomplete a {
        display: block;
        padding: 15px;
        font-size: 14px;
        /*override jQuery UI styles, do not delete doubled properties*/
        margin: 0 !important;
        border: none !important;
        border-radius: 0 !important;
        background: none !important;
        padding: 15px !important;
        line-height: normal !important;
        color: #777 !important;
    }

        .ui-autocomplete a:hover,
        .ui-autocomplete a.ui-state-focus {
            background-color: #f6f6f6 !important;
        }

    .ui-autocomplete img {
        display: none;
        min-width: 20px;
        margin: 0 0 0 10px;
        vertical-align: middle;
    }


.admin-search-box {
    background: url(../../content/images/search-icon.png) no-repeat 3%;
    padding-left: 30px;
}
/*** HEADER ***/


.header-selectors-wrapper > div {
    display: inline-block;
    width: 30%;
    margin: 10px auto;
}

.search-box input.search-box-text {
    width: 280px;
}

.ui-autocomplete {
    width: 280px !important;
}

    .ui-autocomplete img {
        display: inline;
    }

.sidebar-form {
    border: none !important;
    overflow: visible;
    margin: 10px 10px 0 !important;
}

.danger {
    color: #dd4b39;
}

.warning {
    color: #f39c12;
}

.info {
    color: #00c0ef;
}

.success {
    color: #00a65a;
}
.box-footer div.RadAjaxPanel {
    display: inline-block !important;
}
/*input.rfText.rfControl {
    height:19px!important;
}*/
.cursor-pointer{
    cursor:pointer!important;
}

.RadGrid_Bootstrap .rgPagerCell .rgPageLast {
    border-radius: 4px 0 0 4px !important;
    background-position: -9px -709px !important;
    border-left-width: 1px !important;
}
.RadGrid_Bootstrap .rgPagerCell .rgPageNext {
    background-position: -9px -109px!important;

}
.RadGrid_Bootstrap .rgPagerCell .rgPagePrev {
    background-position: -9px -159px!important;
}
.RadGrid_Bootstrap .rgPagerCell .rgPageFirst {
    border-radius: 0 4px 4px 0 !important;
    background-position: -9px -759px !important;
    border-left-width: 0!important;
}
.RadGrid_Bootstrap .rgPagerCell .rgPageLast {
    
}
.RadGrid_Bootstrap .rgFilter {
    border-radius: 4px 0 0 4px!important;
}
.RadGrid_Bootstrap .rgFilterBox {
    border-radius: 0 4px 4px 0!important;
}
/*.RadGridRTL .rgWrap {
    float: left!important;
}
.RadGrid_Bootstrap .rgPagerCell .rgPageFirst {
    float: left!important;
}
.RadGrid_Bootstrap .rgPagerCell .rgPageLast {
    float: right!important;
}
.RadGrid_Bootstrap .rgPagerCell .rgInfoPart {
    float: right!important;
}*/