/*Telerik RadCalendar Common CSS*/

table.RadCalendar
{
	table-layout:auto;
	border-collapse:separate;
	border:0;
	width:220px;
}

/*titlebar*/

.RadCalendar .rcTitlebar
{
	width:100%;
	border-style:solid;
	border-width:1px;
	padding:0;
}

.RadCalendar .rcTitlebar table
{
	table-layout:auto;
	width:100%;
	border-collapse:separate;
	border:0;
}

.RadCalendar .rcTitlebar td
{
	border:0;
	padding:0;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}
.RadCalendar .rcNoNav .rcTitle
{
	cursor:default;
}

.RadCalendar .rcTitlebar .rcPrev,
.RadCalendar .rcTitlebar .rcNext,
.RadCalendar .rcTitlebar .rcFastPrev,
.RadCalendar .rcTitlebar .rcFastNext
{
	display:block;
	width:15px;
	height:15px;
	overflow:hidden;
	margin:0 4px;
	background-color:transparent;
	background-repeat:no-repeat;
	text-indent:-2222px;
	text-decoration:none;
}

.RadCalendar .rcMain
{
	width:100%;
	border-style:solid;
	border-width:0 1px 1px;
	padding:0;
}

.RadCalendar .rcMainTable
{
	table-layout:auto;
	border-collapse:separate;
	border:0;
	width:100%;
}

.RadCalendar .rcHeader,
.RadCalendar .rcFooter
{
	border-style:solid;
	border-width:0 1px 1px;
	padding:0;
}

/*week numbers and days*/

.RadCalendar .rcRow th,
.RadCalendar .rcWeek th
{
	border:0;
	padding:0;
	font-weight:normal;
	vertical-align:middle;
	cursor:default;
}

.RadCalendar .rcWeek th
{
	text-align:right;
}

.RadCalendar .rcWeek .rcViewSel,
.RadCalendar .rcRow th
{
	text-align:center;
}

/*date cells*/

.RadCalendar .rcRow td
{
	border-style:solid;
	border-width:1px;
	padding:0;
	text-align:right;
	vertical-align:middle;
}

.RadCalendar .rcMain .rcRow a,
.RadCalendar .rcMain .rcRow span
{
	display:block;
	padding:1px 5px 1px 0;
	text-decoration:none;
}

.RadCalendar .rcPreview .rcRow a
{
	outline:none;
}

.RadCalendar .rcMain .rcOutOfRange span
{
	cursor:default;
}

/*multimonth view*/

table.RadCalendarMultiView
{
	width:auto;
}

.RadCalendarMultiView .rcCalendar
{
	width:220px;
	border-style:solid;
	border-width:1px;
	padding:0;
}

.RadCalendarMultiView .rcMainTable .rcTitle
{
	border-style:solid;
	border-width:0 0 1px;
	padding:0;
	text-align:center;
}

/*month view*/

table.RadCalendarMonthView
{
	table-layout:auto;
	border-collapse:separate;
	border-style:solid;
	border-width:1px;
}

table.RadCalendarMonthView td
{
	border:0;
	padding:5px 2px 0;
}

.RadCalendarMonthView a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
}

.RadCalendarMonthView .rcHover a,
.RadCalendarMonthView .rcSelected a
{
    border-style:solid;
    border-width:1px;
	padding:1px 3px;
}

.RadCalendarMonthView #rcMView_PrevY a,
.RadCalendarMonthView #rcMView_NextY a
{
	display:block;
	overflow:hidden;
	margin:0 auto;
	background-color:transparent;
	background-repeat:no-repeat;
	text-indent:-2222px;
	text-align:center;
	text-decoration:none;
}

.RadCalendarMonthView .rcButtons
{
	border:0;
	text-align:center;
}

.RadCalendarMonthView input
{
	border-style:solid;
	border-width:1px;
	cursor:pointer;
}

*+html .RadCalendarMonthView input{padding:0;}/*IE7*/
* html .RadCalendarMonthView input{padding:0;}/*IE6*/

.RadCalendarMonthView #rcMView_Today
{
	margin:0 0.4em 0 0;
}

*+html .RadCalendarMonthView #rcMView_OK{padding:0 0.2em;}/*IE7*/
* html .RadCalendarMonthView #rcMView_OK{padding:0 0.2em;}/*IE6*/

/*time view*/

table.RadCalendarTimeView
{
	border-collapse:separate;
	border-style:solid;
	border-width:1px;
}

.RadCalendarTimeView th
{
	border:0;
	text-align:center;
	cursor:default;
	font-weight:normal;
}

table.RadCalendarTimeView td
{
	border-style:solid;
	border-width:0 0 0 1px;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView td:first-child
{
	border-left:0;
}

.RadCalendarTimeView a
{
	display:block;
	padding:2px 6px;
	text-align:center;
	text-decoration:none;
}

.RadCalendarTimeView td.rcSelected a,
.RadCalendarTimeView td.rcHover a
{
    border-style:solid;
    border-width:1px;
    padding:1px 5px;
}

.RadCalendarTimeView .rcFooter
{
	border-style:solid;
	border-width:1px 0 0;
	padding:0;
}

/*pickers*/

.RadPicker,
.RadPicker td
{
	vertical-align:middle;
}

.RadPicker .RadInput
{
	vertical-align:baseline;
}

.RadPicker .rcTable
{
	table-layout:auto;
}

.RadPicker table.rcTable,
.RadPicker table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker td a{position:static}/*IE6*/
*+html .RadPicker td a{position:static}/*IE7*/

.RadPicker .rcCalPopup,
.RadPicker .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:22px;
	height:22px;
	background-color:transparent;
	background-repeat:no-repeat;
	text-indent:-2222px;
	text-align:center;
}

.RadPicker .rcDisabled,
.RadCalendarMonthView .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*shadows*/

body>.RadCalendarPopupShadows
{
	padding: 0 5px 5px 0;
}

.RadCalendarPopupShadows>.rcShadTR,
.RadCalendarPopupShadows>.rcShadBL,
.RadCalendarPopupShadows>.rcShadBR
{
	position:absolute;
	background-repeat:no-repeat;
	background-color:transparent;
}

.RadCalendarPopupShadows>.rcShadBL,
.RadCalendarPopupShadows>.rcShadBR
{
	height:5px;
	bottom:0;
	background-image:url('WebResource.axd?d=NJ9n3XmIQ1lWlQP_-iDRw23I-1v7Fm-RlvBAPz5chYhDIgGzJvbAVlfYEFij0TY14GoX00kC66HC6hd7KA3fTS8nDQsjZ8ixxJSRPYfOGlwctSQB1BfAXxWKCH244ogsdjoBPQc5pdWpJT_5RTAhhYoiAVI1&t=634459978760000000');
}

.RadCalendarPopupShadows>.rcShadBL
{
	left:0;
	width:100%;
	background-position:0 -3px;
}

.RadCalendarPopupShadows>.rcShadBR
{
	width:5px;
	right:0;
	background-position:100% 100%;
}

.RadCalendarPopupShadows>.rcShadTR
{
	width:5px;
	height:100%;
	top:0;
	right:0;
	background-image:url('WebResource.axd?d=xeUDm8zpMOovgv4v7f7-aHTrcOr40HUMs9j8Da-Xdyg-CoPe7TeP45EBbwWJB2kcft83YXJ2TtnIKNTqR001eT6zUVCkOsm9hWyVQgU7LJqH7gwP4uF_alXXNfzNHPUhv2fOB7JTjdff5mN9QcoMDu3Y-kM1&t=634459978760000000');
	background-position:100% 0;
}

.rcIE>.rcShadBL,
.rcIE>.rcShadBR,
.rcIE>.rcShadTR
{
	background-image:none;
}

/*rtl*/

.RadPickerRTL table.rcTable .rcInputCell
{
	padding:0 0 0 4px;
}