﻿<%@ Page Title="PDA" Language="C#" MasterPageFile="~/Main.Master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Modules_PDA" %>
<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <h2 class="text-center">
        PDA
    </h2>

</asp:Content>
